.btn_promo {
  width: 200px;
  margin-top: 30px;
  padding: 12px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: 500ms;
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    transition: 500ms;
    scale: 1.01;
  }
}

@media (max-width: 992px) {
  .btn_promo {
    width: 150px;
  }
}
